results/checkpoint-12/model.safetensors filter=lfs diff=lfs merge=lfs -text
results/checkpoint-15/model.safetensors filter=lfs diff=lfs merge=lfs -text
results/checkpoint-15/optimizer.pt filter=lfs diff=lfs merge=lfs -text
